@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #000000;
    margin-top: -110px;
    margin-left: 20px; 
}

.img {
    width: 250px; 
    margin-top: 3px;
    margin-left: 1px; /* Alterado para 110px */
    border-radius: 50%;
    position: relative;
}



/* Texto */
h1 {
    margin-left: 10px;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: normal;
}

p {
    margin-left: 70px;
    color: #fff;
    font-family: "Playfair Display", serif;
}

/* Card */
.card {
    margin-top: 150px;
    margin-left: 60px; 
    position: relative; 
    width: 255px; 
    height: 255px;
    overflow: hidden;
    border-radius: 50%;
}

.card span:first-of-type,
.card span:nth-of-type(2),
.card span:nth-of-type(3),
.card span:last-of-type {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Cor dos Cards */
.card span:first-of-type {
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to right, transparent, rgb(212, 0, 255));
    animation: animar1 2s linear infinite;    
}

.card span:nth-of-type(2) {
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, rgb(212, 0, 255));
    animation: animar2 2s linear infinite; 
    animation-delay: 1s;   
}

.card span:nth-of-type(3) {
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, transparent, rgb(212, 0, 255));
    animation: animar3 2s linear infinite;    
}

.card span:last-of-type {
    top: 0;
    left: 0;
    background: linear-gradient(to top, transparent, rgb(212, 0, 255));
    animation: animar4 2s linear infinite;  
    animation-delay: 1s;  
}

/* Animação do Card */
@keyframes animar1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes animar2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animar3 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes animar4 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Cor das classes dos ícones */
.fab.fa-js {
    color: #ff7c01;
}

.fas.fa-file-code {
    color: #32cd32;
}

.fab.fa-html5 {
    color: #0070ba;
}

.fab.fa-js {
    color: #9400d3;
}

.fas.fa-desktop{
    color: #555555;
}

/* Estilos para a seção "Sobre" */

.about {
    width: 360px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: center; 
}

.about h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.about p {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 0; 
}